{% extends "home/base.html" %}
{% block title %}Home - {{ site_title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% comment %} <div class="col-md-3">
                <div class="advertisement">
                    <h5>Advertisement</h5>
                    <!-- Advertisement Content Goes Here -->
                </div>
            </div> {% endcomment %}
            <div class="col-md-12">
                <div class="text-center">
                    <h1>Welcome to Job Portal</h1>
                    <p class="lead">Find your dream job here.</p>
                    <a href="jobs.html" class="btn btn-primary btn-lg">Browse Jobs</a>
                </div>
                <div class="job-listings">
                    <h2>Newly Posted Jobs</h2>
                    {% for data in datas%}
                    <div class="job">
                        <a href="/{{data.id}}" class="buy-1 btn "> 
                        <h3> {{ data.job_title }} </h3>
                    </a>
                        <p > <strong> Company Name :</strong>  {{ data.company_name}}</p>
                        <p> <strong> Last Date :</strong>  {{ data.end_date }}</p>
                        <p><strong>Qualification :</strong>{{data.qualification}}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            {% comment %} <div class="col-md-3">
                <div class="advertisement">
                    <h5>Advertisement</h5>
                    <!-- Advertisement Content Goes Here -->
                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}


{% block footer %}
   
   
{% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
